.task-list{
    display: grid;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 20px;
    grid-template-columns: 100px 50px 1fr 2fr 200px;
}

.list-header{
    font-weight: bold;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}
.list-item{
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fafafa;
}
.delete-item{
  width: 50%;
  padding: 6px;
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
   font-size: 14px;

}
.delete-item:hover{
  background-color: #ac0909;

}
.update-item{
  width: 50%;
  padding: 6px;
  background-color: green;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
   font-size: 14px;
   margin-left: 10px;
   text-decoration: none;
   padding-left: 15px;
   padding-right: 15px;

}
.update-item:hover{
  background-color: rgb(66, 179, 66);
}
 
.delete-multiple{
  width: 120px;
  
}
.delete-multiple{
    margin-left: 20px;
    margin-right: 20px;

}



























